<a href="https://colab.research.google.com/github/amarildo86/datascience/blob/master/Houseprice_Prediction%20-%20Model%20avaliation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
train = pd.read_csv('/content/train.csv')
train.head(3)

  POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0     Owner                   0  ...  77.597960                   55.0
1    Dealer                   0  ...  76.644605                   51.0
2     Owner                   0  ...  77.632191                   43.0

[3 rows x 12 columns]

In [3]:
train.shape

(29451, 12)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [5]:
train.dropna(inplace=True)

In [7]:
X_train = train.loc[:, ['UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE']].values
y_train = train.loc[:, ['TARGET(PRICE_IN_LACS)']].values

X_test = train.loc[:, ['UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE']].values
y_test = train.loc[:, ['TARGET(PRICE_IN_LACS)']].values

In [8]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor
from sklearn import linear_model
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, ConstantKernel as C

GBR = GradientBoostingRegressor()
GBR.fit(X_train, y_train)

SGD = GradientBoostingRegressor()
SGD.fit(X_train, y_train)

#GPR = GaussianProcessRegressor(kernel=None, random_state=0)
#GPR.fit(X_train, y_train)

lasso = linear_model.Lasso(alpha=.1)
lasso.fit(X_train, y_train)

Lasso(alpha=0.1)

In [9]:
GBR_pred = GBR.predict(X_test)
SGD_pred = SGD.predict(X_test)
lasso_pred = lasso.predict(X_test)

In [10]:
from sklearn.metrics import r2_score

print(round(r2_score(y_test, GBR_pred), 4)*100)
print(round(r2_score(y_test, SGD_pred), 4)*100)
print(round(r2_score(y_test, lasso_pred), 4)*100)

97.26
97.26
22.02

In [11]:
from sklearn.metrics import mean_squared_error

print(round(mean_squared_error(y_test, GBR_pred), 4)*100)
print(round(mean_squared_error(y_test, SGD_pred), 4)*100)
print(round(mean_squared_error(y_test, lasso_pred), 4)*100)

1182254.14
1182254.14
33646394.839999996