<a href="https://colab.research.google.com/github/amarildo86/datascience/blob/master/Times_Series_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Modelagem de Séries Temporais
#### ARIMA - Autoregressive Integrated Moving Average


**Prós:**
*   Permite trabalhar com dados brutos, sem considerar se eles são estacionários.
*   Bom desempenho com dados de alta frequência.
*   É menos senssível à futuação nos dados quando comparado com outros. modelos

**Contras**
*   Pode falhar em capturar sasonalidade.
*   Funciona melhor com longas séries e termo curto de dados (dia, houra).
*   Como nenhuma atualização automática ocorre no ARIMA, nenhuma quebra estrutural durante
o período de análise deve ser observado.
*   Não ter nenhum ajuste no processo ARIMA leva à instabilidade.

In [ ]:
import pandas as pd
import yfinance as yf
import datetime

ticker = ['AAPL', 'MSFT', 'TSLA']
inicio = datetime.datetime(2019, 1, 1)
fim = datetime.datetime(2021, 10, 1)
preco_acoes = yf.download(ticker, start=start, end=end, interval='1d')

[*********************100%***********************]  3 of 3 completed

In [ ]:
preco_acoes.head(2)

            Adj Close                        ...     Volume
                 AAPL       MSFT       TSLA  ...       AAPL      MSFT      TSLA
Date                                         ...
2019-01-02  38.326290  97.782425  62.023998  ...  148158800  35329300  58293000
2019-01-03  34.508713  94.185204  60.071999  ...  365248800  42579100  34826000

[2 rows x 18 columns]

In [ ]:
TSLA = preco_acoes.iloc[:, preco_acoes.columns.get_level_values(1) == 'TSLA']
TSLA.head()

            Adj Close      Close       High        Low       Open    Volume
                 TSLA       TSLA       TSLA       TSLA       TSLA      TSLA
Date
2019-01-02  62.023998  62.023998  63.026001  59.759998  61.220001  58293000
2019-01-03  60.071999  60.071999  61.880001  59.476002  61.400002  34826000
2019-01-04  63.537998  63.537998  63.599998  60.546001  61.200001  36970500
2019-01-07  66.991997  66.991997  67.348000  63.549999  64.344002  37756000
2019-01-08  67.070000  67.070000  68.802002  65.403999  68.391998  35042500